@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.groupPeople {
  .container {
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg12;
    @include ms-xl12;
  }

  .title {
    font-family: "Segoe UI Web (West European)","Segoe UI","-apple-system,BlinkMacSystemFont",Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    margin-bottom: 18px;
    font-weight: 100;
  }
  
  .personaTile {
    display: table;
    width: 30%;
    float: left;
  }

  .persona {
    display: table-row;
    width: 100%;
  }

  .persona > div {
    display: table-cell;
    vertical-align: middle;
  }
}